@media (max-width: 375px) {
    .container-grid  {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result {
        width: 100%;
        height: 100%;
        border-radius: 0 0 25px 25px;
    }

    .title {
        font-size: 1.2rem;
    }

    .summary {
        width: 95%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    .button:active {
        background-color: hsl(224, 30%, 17%);
        transform: translateY(4px);
    }
}